.base {
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.base h1 {
    position: absolute;
    left: 60px;
    color: #0A3730;
}

.base .bgr {
    border-radius: 310px;
    width: 470px;
    height: 470px;
    position: absolute;
    top: 90px;
    opacity: 0.1;
}

.base .btn {
    display: flex;
    justify-content: center;
}

.base .btn .shape {
    width: 150px;
}

.base .btn .icon {
    position: absolute;
    width: 140px;
    top: -90px;
}

.base .btn .text {
    position: absolute;
    width: 80%;
    top: 0px;
    text-align: center;
    color: black;
    font-size: 25px;
}

.base .btn_1 {
    position: absolute;
    top: 130px;
    width: 30%;
}

.base .func01 {
    position: absolute;
    top: 235px;
    right: 200px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.func01 .top_btn {
    height: 25px;
    width: 105px;
    border: none;
    border-radius: 10px;
}

.func01 .chinhsua {
    background-color: hsl(205, 100%, 53%);
}

.func01 .chinhsua img {
    width: 12px;
    height: 12px;
}

.func01 .chinhsua:hover{
    cursor: pointer;
    background-color: hsl(205, 60%, 73%);
}


.base .func02 {
    position: absolute;
    bottom: 120px;
    right: 200px;
}

.func02 .down_btn {
    height: 25px;
    width: 105px;
    border: none;
    border-radius: 10px;
    background-color: #0A3730;
    color: white;
}

.func02 .down_btn:hover {
    background-color: black;
    cursor: pointer;
}

.base table {
    top: 300px;
    border-collapse: collapse;
    position: absolute;
    background-color: white;
    text-align: center;
}

.base table,th,td {
    border:1px solid black;
    height: 10px;
}

.base table thead th {
    background-color: #FBC299;
}

.STT_style {
    background-color: #0A3730 !important;
    color: white;
}

.return_btn {
    position: absolute;
    bottom: 40px;
}

.return_btn button {
    border-radius: 20px;
    width: 70px;
    height: 40px;
    border:3px solid #0A3730
}

.return_btn button a {
    width: 100%;
    display: block;
}

.return_btn button:hover {
    background-color: black;
    cursor: pointer;
}




/* .base .sub_background {
    position: absolute;
    width: 100%;
    height: 480px;
    bottom: 0px;
}

.base .logo {
    position: absolute;
    top: 60px;
    z-index: 1;
    border-radius: 100px;
}

.base .login_form {
    position: absolute;
    bottom: 125px;
    width: 33%;
}

.base .login_form ::placeholder {
    color: black;
}

.base .login_form input {
    width: 95%;
    height: 25px;
    border-radius: 3px;
    border: none;
    padding-left: 15px;
}

.base .login_form button {
    background-color: #0D99FF;
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 3px;
}


.base .login_form .mk{
    position: relative;
}

.base .login_form .eye_btn {
    position: absolute;
    width: 32px;
    font-size: 20px;
    top: 61px;
    right: 0px;
    background: none;
    padding-right: 40px;
    
} */
